* {
  font-family: "ralewaythin", Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: auto 0px;
}
header,
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img-logo {
  width: 150px;
  margin: 35px;
}
.small-nav,
.form {
  display: flex;
}
.small-nav + a {
  color: #0065fc;
}
.nav-item {
  padding: 50px;
  text-decoration: none;
  color: black;
}
.small-nav .nav-item:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
.container {
  display: flex;
  flex-direction: column;
}
.container h1,
.container p {
  margin-left: 35px;
  line-height: 10px;
}
.form {
  margin-left: 35px;
}
.span-map,
input[type="text"] {
  padding: 15px;
}
input[type="submit"] {
  padding: 17px;
  margin-left: -5px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color: #0065fc;
  color: #fff;
  font-weight: 700;
}
.span-map {
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
}
input[type="text"] {
  border: 2px solid #f0f0f0;
}
.margin-left-filter,
.div-filtre {
  margin-left: 35px;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
span.span-filtre {
  padding: 22px;
  background-color: #deebff;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  left: 62px;
  color: #0065fc;
}
.div-filtre p {
  padding: 20px 20px 20px 80px;
  border: 2px solid #deebff;
  border-radius: 50px;
}
.div-filtre {
  margin-left: -30px;
}
.margin-left-filter .div-filtre p:hover {
  background-color: #deebff;
}
.remarque {
  margin-left: 35px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}
.remarque p {
  display: inline-block;
  margin-left: 20px;
}
span.span-remarque {
  color: blue;
  border-radius: 50px;
  border: 2px solid #f1f1f1;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.hebergement {
  background-color: #F2F2F2;
  border-radius: 50px;
  padding: 1px 25px 10px 25px;
  width: 65%;
}
article.card {
  display: inline-block;
  background-color: #fff;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 15px;
  margin-left: 2%;
  width: 240px;
  transition: transform 0.4s;
  box-shadow: 2px 5px 10px #000;
}
.card-dwon {
  position: relative;
  background-color: #fff;
  padding: 20px 40px 17px 0px;
  top: -61px;
  height: 60px;
  width: 200px;
}
.card img {
  border-radius: 10px;
  width: 100%;
}
.space-card {
  height: 0px;
}
article.card:hover {
  transform: scale(1.01);
}
.populaire {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  border-radius: 50px;
  padding: 0px 5px 50px 20px;
  width: 330px;
  position: relative;
}
.card-aside img {
  width: 150px;
  border-radius: 15px 0px 0px 15px;
}
article.card-aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  background-color: #fff;
  padding: 0px 5px 0px 10px;
  margin-bottom: 15px;
  width: 300px;
  border-radius: 15px;
  height: 140px;
}
.card-aside h3 {
  margin: 0px 0px;
  padding-top: 15px;
}
.card-right p {
  margin: 0px 0px;
}
section .hebergement h2 a {
  text-decoration: none;
  color: black;
}
span.span-chart {
  position: absolute;
  top: 25px;
  left: 315px;
}
.div-flex-last {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.column img {
  width: 300px;
  border-radius: 20px 20px 0px 0px;
}
.column2 img {
  width: 280px;
  height: 195px;
  border-radius: 20px 20px 0px 0px;
}
.column2 {
  margin: 0px 20px;
}
.column h3, .column2 h3 {
  margin: 0px;
  padding: 15px 0px 0px 0px;
  background-color: #fff;
  position: relative;
  top: -3px;
}
.column {
  border: 10px solid #fff;
  box-shadow: 2px 5px 10px;
  border-radius: 25px 25px 25px 25px;
}
.div-sub {
  margin-bottom: 15px;
  border: 10px solid #fff;
  box-shadow: 2px 5px 10px;
  border-radius: 25px;
}
.container-last h2 {
  margin-left: 25px;
}